<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Bus Arrival Info</title>
    <!-- Stylesheet -->
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', path='style.css') }}">
    
</head>
<body>
    <h1>Bus Arrival Infomation System</h1>
    <p>Refreshes every 10 seconds</p>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="busStopText" placeholder="Bus Stop Code" autocomplete="off">
        <button>Send</button>
    </form>
    <p id="loadingLable"></p>
    <h2 id="busStopName"></h2>
    <h3 id="busStopCode"></h3>
    <ul id="arrivals">
    </ul>
    <script src="{{ url_for('static', path='main.js') }}"></script>
</body>
</html>